.dashboard-layout {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 100px 1fr; /* Sidebar à 100px, le reste prend l'espace */
    grid-template-rows: auto 1fr; /* Header auto, contenu principal occupe le reste */
    height: 100vh; /* Vue pleine hauteur */
}

.not-found-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}