
  /* Général */
.dashboard-layout {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 100px 1fr; /* Sidebar à 100px, le reste prend l'espace */
    grid-template-rows: auto 1fr; /* Header auto, contenu principal occupe le reste */
    height: 100vh; /* Vue pleine hauteur */
}


/* Contenu principal */
.dashboard-main-content {
    padding: 15px;
    margin-left: 30px;
    overflow-y: hidden
}

.dashboard-content {
    display: flex;
    gap: 20px;
}


.charts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}

.stats-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 25%;
}


.charts-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 20px;
    align-items: start; 
    justify-content: center;
}





@media (min-height: 820px) {
    .dashboard-main-content {
        margin: 30px 0 0 50px;
    }
}

@media (min-height: 900px) and (min-width: 1200px) {
    .dashboard-main-content {
        margin: 30px 0 0 80px;
    }

    .activity-container {
        gap: 40px;
    }
}

@media (min-height: 1024px) and (min-width: 1440px) {
    .dashboard-main-content {
        margin: auto;
    }

    .activity-container {
        gap: 40px;
    }

   /* .charts-container {
        gap: 150px;
    } */

    .activity-container {
        width: 80%;
    }
}

@media (min-width: 1440px) {
    .dashboard-main-content {
        margin-top: 5px;
    }
}